@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
.cvo-document .cvo-page {
    padding: 0mm;
    position: relative;
}
.cvo-document .cvo-subpage {
    padding: 0mm;
}
#cvo-body {
    padding: 0mm 0mm;
    padding-bottom: 10mm;
    font-size: 14px;
    line-height: 1.4em;
    color: #494949;
    font-family: 'Roboto', Arial, sans-serif;
}
@media print {
    #cvo-body {
        padding: 0;
    }
    .cvo-document .cvo-page {
        position: initial;
    }
}
#cvo-body:after,
#group-header:after,
#group-top:after,
#cvo-profile:after {
    display: block;
    content: " ";
    clear: both;
    height: 0;
    width: 0;
}
.cvo-col-5 {
    float: left;
    width: 41.6666666667%;
}
.cvo-col-6 {
    float: left;
    width: 50%;
}
.cvo-col-7 {
    float: left;
    width: 58.3333333333%;
}
.cvo-col-9 {
    float: left;
    width: 75%;
}
.cvo-col-8 {
    float: left;
    width: 66.6666666667%;
}
.cvo-col-4 {
    float: left;
    width: 33.3333333333%;
}
.cvo-col-3 {
    float: left;
    width: 25%;
}
#group-header {
    background-color: #479b9d;
    min-height: 200px;
    padding: 30px;
    color: #fff;
}
#group-header .cvo-col-3 {
    text-align: right;
}
#cvo-profile-fullname-wraper {
    margin-top: 60px;
    margin-bottom: 10px;
}
#cvo-profile-fullname {
    font-size: 40px;
    line-height: 1em;
    font-weight: normal;
    text-transform: capitalize;
}
#cvo-profile-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #733c59;
}
#cvo-profile-avatar-wraper {
    display: inline-block;
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}
#cvo-profile-avatar {
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}
#group-top {
    background-color: #f6f6f6;
    padding: 15px 25px;
}
#group-left .cvo-block:last-child,
#group-right .cvo-block:last-child {
    margin-bottom: 0;
}
#cvo-profile .contact-item {
    position: relative;
    margin-bottom: 5px;
}
#cvo-profile .contact-item  > span {
    display: inline-block;
}
#contact-item-label:after {
    display: block;
    content: " ";
    clear: both;
    height: 0;
    width: 0;
}
#cvo-profile .contact-item-label {
    font-weight: normal;
    color: #333;
    width: 32%;
    float: left;
    padding-right: 5px;
}
#cvo-profile .contact-item > span {
    width: calc(100% - 60px);
    padding-left: 10px;
    word-break: break-word;
}
#group-left{
    padding: 20px 0px 20px 20px;
}
#group-right {
    padding: 20px 20px 20px 0px;
}
#group-left .cvo-block,
#group-right .cvo-block {
    padding: 10px;
    margin-bottom: 20px;
}
.cvo-block-header {
    position: relative;
    margin-bottom: 10px;
}
.cvo-block-header span {
    font-size: 24px;
    color: #479b9d;
    font-weight: normal;
}
.cvo-block-body {
    word-break: break-word;
}
.cvo-education-title,
.cvo-experience-position,
.cvo-activity-position{
    font-weight: normal;
    color: #479b9d;
}

.cvo-education-school,
.cvo-experience-company,
.cvo-activity-organization
{
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.cvo-skillrate-bar {
    background-color: #e3ecec;
    width: 100%;
    height: 7px;
    position: relative;
    margin-top: 3px;
}
.cvo-skillrate-value {
    width: 80%;
    height: 7px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #479b9d;
}
.cvo-skillrate-bar[bval="1"] .cvo-skillrate-value {
    width: 10%;
}
.cvo-skillrate-bar[bval="2"] .cvo-skillrate-value {
    width: 20%;
}
.cvo-skillrate-bar[bval="3"] .cvo-skillrate-value {
    width: 30%;
}
.cvo-skillrate-bar[bval="4"] .cvo-skillrate-value {
    width: 40%;
}
.cvo-skillrate-bar[bval="5"] .cvo-skillrate-value {
    width: 50%;
}
.cvo-skillrate-bar[bval="6"] .cvo-skillrate-value {
    width: 60%;
}
.cvo-skillrate-bar[bval="7"] .cvo-skillrate-value {
    width: 70%;
}
.cvo-skillrate-bar[bval="8"] .cvo-skillrate-value {
    width: 80%;
}
.cvo-skillrate-bar[bval="9"] .cvo-skillrate-value {
    width: 90%;
}
.cvo-skillrate-bar[bval="10"] .cvo-skillrate-value {
    width: 100%;
}
#interest-table .row {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
#cvo-certification .row,
#cvo-award .row,
#cvo-education .row,
#cvo-activity .row,
#cvo-experience .row {
    position: relative;
    margin-bottom: 5px;
    padding-top: 10px;
    margin-top: 0;
    position: relative;
}
#cvo-certification .row hr,
#cvo-award .row hr,
#cvo-education .row hr,
#cvo-activity .row hr,
#cvo-experience .row hr {
    border: 0;
    border-bottom: 1px solid #e3ecec;
    margin-bottom: 15px;
    margin-top: 5px
}
#cvo-certification .cvo-block-header,
#cvo-award .cvo-block-header,
#cvo-education .cvo-block-header,
#cvo-activity .cvo-block-header,
#cvo-experience .cvo-block-header {
    margin-bottom: 0;
}

.cvo-award-time,
.cvo-certification-time {
    background-color: white;
    padding-left: 10px;
}
.cvo-time-transparent,
.cvo-education-time,
.cvo-experience-time,
.cvo-activity-time {
    /*background: white;*/
    position: absolute;
    top: 3px;
    right: 0;
    padding-left: 10px;
    color: #479b9d;
    font-weight: normal;
    width: 100%;
    text-align: right;
}
.time-background {
    background-color: white;
    padding-left: 10px;
}
#cvo-certification .row,
#cvo-award .row,
#cvo-skillrate .row,
#cvo-reference .row{
    margin-bottom: 10px;
}
#cvo-education .row:last-child,
#cvo-activity .row:last-child,
#cvo-experience .row:last-child,
#cvo-certification .row:last-child,
#cvo-award .row:last-child,
#cvo-skillrate .row:last-child,
#cvo-reference .row:last-child {
    margin-bottom: 0;
}
#cvo-profile-phone,
#cvo-profile-email {
    min-width: 180px;
}
#cv-watermark {
    position: absolute;
    right: 30px;
    bottom: 5px;
    font-size: 13px;
    color: #555;
}
#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

#cvo-experience .cvo-block{
    padding: 10px;
    margin-bottom: 20px;
}

body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

#cvo-profile .contact-item-label {
    font-weight: normal;
    color: #333;
    width: 40px;
    float: left;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
}

@media print {
    .break {
        page-break-before: always;
    }
}